@font-face {
    font-family: ptsn; src: url('http://data.ehouais.net/public/PTN57F.ttf') format('truetype');
}
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: arial;
}
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#editor {
    background-color: #a0c0f0;
}
#editor, #dom  {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.frame {
    position: absolute;
    overflow: hidden;
    /*background-color: rgba(255, 255, 255, 0.2);*/
}
.flabel {
    font-family: ptsn;
    line-height: 1.2;
    text-align: center;
}
.link {
    font-family: ptsn;
    display: block;
    height: 16px;
    background-color: #ddd;
    border-radius: 4px;
    text-align: center;
    font-size: 13px;
    text-decoration: none;
    color: rgb(0, 0, 238);
    line-height: 125%;
}
.link:hover {
    background-color: #fff;
    color: #f00;
}
#overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}
.mask {
    position: absolute;
    cursor: pointer;
    background-color: #ffffff;
    opacity: 0.3;
}
.mask:hover, .mask.editing {
    background-color: rgba(255, 0, 0, 0.5);
}
#dialog {
    position: absolute;
    top: 200px;
    left: 600px;
    width: 400px;
    height: 200px;
    padding: 4px;
    background-color: #ffffff;
}
#dialog input[type=text] {
    width: 100%;
}
#dialog input[type=button] {
    height: 20px;
    font-size: 11px;
    width: 50px;
    margin: 0;
}
#cancel {
    float: right;
}
#menu, #menumask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 32px;
}
#menu {
    top: -32px;
    background-color: #000;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	padding: 5px;
}
#menu.open {
    top: 0;
}
#save {
    float: right;
}
button .glyphicon {
    margin-right: 5px;
}
.iframe > iframe {
    width: 100%;
    height: 100%;
}
.image > img {
    width: 100%;
}
.text > div {
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: #eee;
    text-align: justify;
}